@charset "UTF-8";

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: TagMaker;
    src: url(../assets/fonts/tagmarker.ttf);
}

:root {
    --font: "Inter";
    --font-title: "TagMaker";
    --color-primary: #0D0D0D;
    --color-secondary: #8C0404;
    --color-tertiary: #F2D027;
    --color-title: #D9A404;
    --color-text: #d6d6d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}
