@charset "UTF-8";
@import url(global.css);

body {
  background:
    radial-gradient(
      circle at 50% 10%,
      rgba(140, 4, 4, 0.12),
      transparent 60%
    ),
    linear-gradient(
      to bottom,
      var(--color-primary) 0%,
      #111111 100%
    )
  ;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.modal.ativo {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  position: relative;
  animation: surgir 1s ease forwards;
}

.modal-content img {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin: 0;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
}

.modal-content img.ativa {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.modal-content-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}

.modal-content-buttons button {
    border: none;
    border-radius: 8px;
    padding: 0.5em clamp(0.5em, 1vw, 1.25em);
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-text);
    transition: scale 0.5s ease;
}

.modal-content-buttons button:hover {
    scale: 1.1;
    cursor: pointer;
}

@keyframes surgir {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* HERO SECTION */

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    inset: 0;
    background: url(../assets/images/limbusart2.jfif) center/cover no-repeat;
    transform: translateY(0);
    will-change: transform;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(250px, 40vw, 600px);
    pointer-events: none;
    will-change: transform;
}

/* HISTORY SECTION */

.history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 1rem;
}

.history-title {
  position: relative;
  font-family: var(--font-title);
  font-weight: 300;
  font-size: clamp(2.2rem, 2vw, 3.5rem);
  letter-spacing: 1px;
  text-align: center;
  color: var(--color-tertiary);
}

.history-p {
  margin: 1.2rem 0;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-align: justify;
  color: var(--color-text);
  hyphens: auto;
}

@media (min-width: 1024px){

  .history-content {
    margin: 0 auto;
    max-width: 850px;
  }
}

/* CHARACTHERS SECTION */

.characters-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem;
}

.characters-title {
  position: relative;
  font-family: var(--font-title);
  font-weight: 300;
  font-size: clamp(2.2rem, 2vw, 3.5rem);
  letter-spacing: 1px;
  text-align: center;
  color: var(--color-tertiary);
}

.characters-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  margin: 0.8rem;
}

.characters-button {
  position: relative;
  border: none;
  border-radius: 8px;
  padding: 1em clamp(0.5em, 0.8vw, 1em);
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  font-weight: 800;
  background-color: #11111100;
  color: var(--color-tertiary);
}

.characters-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 2px;
  width: 0;
  background-color: var(--color-secondary);
  transition: width 0.6s ease, left 0.3s ease;
}

.characters-button:hover::after {
  width: 100%;
  left: 0;
}

.characters-button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.characters-content {
  margin-top: 1rem;
  padding: 1rem;
}

.characters-player, .characters-npc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.character-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  height: 250px;
  width: 250px;
  background: #1e1e1e;
  transition: 0.3s ease;
}

.character-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgb(185, 160, 17);
}

.klaus:hover {
  box-shadow: 0 0 25px rgb(64, 8, 168);
}

.character-card img {
  width: 100%;
  height: 100%;
  object-position: top center;
  object-fit: cover;
}

