@charset "UTF-8";
@import url(global.css);

body {
    background-color: var(--color-primary);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.modal.ativo {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  position: relative;
  animation: surgir 1s ease forwards;
}

.modal-content img {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin: 0;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
}

.modal-content img.ativa {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

.modal-content-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}

.modal-content-buttons button {
    border: none;
    border-radius: 8px;
    padding: 0.5em clamp(0.5em, 1vw, 1.25em);
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-text);
    transition: scale 0.5s ease;
}

.modal-content-buttons button:hover {
    scale: 1.1;
    cursor: pointer;
}

@keyframes surgir {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}